.b3 {
    background-image: url(../images/background.png);
    background-attachment: fixed;
    /* Full height */
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }


form {
    margin: auto;
}

label {
    margin-bottom: 4px;
}

.form-control{
    width: 50vh;
    padding: 6px;
    border-style: none;
    border-color: #4D6365;
    border-radius: 10px;
    background-color: #4D6365;
}

.form-group{
    border-color: #4D6365;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}



.SubmitButton{
    margin: auto;
    width: fit-content;
    font-weight: bold;
    padding: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    border-color: #4D6365;
    background-color: #4D6365;
}

@media screen and (max-width: 800px) {
    form {
        margin-left: 15vh;
    }


    .form-control{
        width: 90%;
        padding: 6px;

    }
}