
.Hamburger_icon{
    display:none;
    width: 2em;
    height: 2em;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1em;
}

li a:hover{
    color: #72B0B4
}


.Logo_line{
    position: fixed;
    display:flex;
    align-items: flex-start;
    flex-direction: row;
}

.Logologos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Logologos2{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
}

.Github{
    margin-top: 1em;
    margin-right: 1em;
}
.Linkedin{
    margin-top: 1em;
}

.Logo{
    margin-left: 2em;
    margin-top: 2em;
}

.Line{
    margin-left:2em;
    margin-top: 2em;
    height: 90vh;
}

.Menu_right{
    float: right;
}

.Menu_list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-end;
}

.Menu_list_item{
    cursor: default;
    flex-direction: row;
    margin: 2em;
}

.Menu_link{

}

.SideDrawerClosed{
    display: none;
}
.Menu_list_side{
    display: none;
}
@media screen and (max-width: 800px) {
    .Menu_list_side{
        display: block;
        margin-left: 20%;
    }
    .SideDrawer{
        opacity: 0.98;
        z-index: 2;
        position: fixed;
        display: block;
        height: 100%;
        width: 100%;
        background-color: #464646;
    }
    .Menu_list {display: none;}
    .Hamburger_icon{
        z-index: 4;
        position: fixed;
        margin: 1%;
        display: inline;
        left: 2%;
        bottom: 2%;
    }
    .Logo{
        width: 1.5em;
        height: 1.5em;
        margin-left: .5em;
        margin-top: 1em;
        margin-right: 2vh;

    }
    .Line{
        display: none;
    }
    .Design1{
        display: none;
    }
    .Design2{
        display: none;
    }
    .Logologos2{
        flex-direction: column;
    }
    .Github{
        margin-left: 0vh;
        margin-right: 0vh;
        margin-right: 3vh;

    }
    .Linkedin{
        margin-left: 0vh;
        margin-right: 3vh;

    }
}
