*{
  color: white;
}

.Background{
  background-color: #464646;
}


.b1{
  background-image: url(./images/background.png);
  /* Full height */
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.bhome2{
  background-image: url(./images/backgroundlaptop.png);
  /* Full height */
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.b2{
  background-image: url(./images/backgroundlaptop2.png);
  /* Full height */
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.b2projects2{
  background-image: url(./images/backgroundlaptop2.png);
  /* Full height */
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
}


h1{
  margin-top: 2em;
  font-size: 2em;
  margin-left: 30vh;
}

h2{
  font-size: 1em;
  margin-left: 30vh;
  font-style: italic;
  margin-top: 2em;
}

h3{
  align-self: center;
  font-size: 1em;
  font-style: italic;
  margin-top: 4em;
}



.Arrow{
  margin-top: .5em;
  align-self: center;
}

.First{
  margin-top: 25vh;
}

.Design1{
  position: absolute;
  height: 50vh;
  bottom: 0%;
  right: 0%;
}

.Design2{
  position: absolute;
  height: 10vh;
  bottom: 0%;
  right: 0%;
}

.MemoryLogo{
  margin-left: 1em;
  width: 140px;
  height: 140px;
}

.ScoodleLogo{
  margin-left: 1em;
  width: 100px;
  height: 100px;
}


.MemoryEg{
  margin-left: 50vh;
  margin-top: 0vh;
  width: 150px;
  height: 400px;
}

.ScoodleEg{
  margin-left: 10vh;
  width: 200px;
  height: 400px;
}

.Projects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

@media screen and (max-width: 800px) {
  .ArrowImage{
    width: 40;
    height: 40px;
  }
  h1{
    font-size: 1em;
    margin-left: 15vh;
  }
  h2{
    font-size: .8em;
    margin-left: 15vh;
  }

}

@media screen and (max-width: 800px) {
  .MemoryLogo{
    width: 40px;
    height: 40px;
  }
  
  .ScoodleLogo{
    width: 60px;
    height: 60px;
  }
  .ScoodleEg{
    display: none;
  }
}

